
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main-container" class="main-container">

    <!-- ::::::  Start CMS Section  ::::::  -->
    <div class="cms m-t-100">
        <div class="container">
            <div class="row">
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Free Shipping</h6>
                            <p class="para__text">Free Shipping availabe at home.</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">100% Money Back Guarantee</h6>
                            <p class="para__text">Online Fresh Food will be back</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-life-ring"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Online Support 24/7</h6>
                            <p class="para__text">24/7 online support</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
            </div>
        </div>
    </div> <!-- ::::::  End CMS Section  ::::::  -->
</main>

